doctype html

//- html (lang="en")
//-   head
//-     meta (charset="UTF-8")
//-     meta (http-equiv="X-UA-Compatible" content="IE=edge") 
//-     meta name="viewport" content="width=device-width, initial-scale=1.0" 
//-     title= ShortenerThis
//-     link (rel="stylesheet" href="./public/style.css" )
//-     link (rel="preconnect" href="https://fonts.gstatic.com" )
//-     link
//-       (href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")
    
//-   body
//-     section (class="header")
//-       h1 (class="main-title") URL Shortener
//-     section class="input-section">
//-       label (class="input-section-item" id="input-label" for="url_input") Enter full URL:
//-       input (class="input-section-item" id="url-input" type="text" name="url" placeholder="https://moz.com/learn/seo/url")
//-       button (class="input-section-item" id="submit") Click For Short
//-     section (class="view-section" id="shortener-url")




//- <!DOCTYPE html>
//- <html lang="en">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Document</title>
//-     <link rel="stylesheet" href="./public/style.css" />
//-     <link rel="preconnect" href="https://fonts.gstatic.com" />
//-     <link
//-       href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
//-       rel="stylesheet"
//-     />
//-   </head>
//-   <body>
//-     <section class="header">
//-       <h1 class="main-title">URL Shortener</h1>
//-     </section>

//-     <section class="input-section">
//-       <label class="input-section-item" id="input-label" for="url_input">
//-         Enter full URL:
//-       </label>
//-       <input
//-         class="input-section-item"
//-         id="url-input"
//-         type="text"
//-         name="url"
//-         placeholder="https://moz.com/learn/seo/url"
//-       />
//-       <button class="input-section-item" id="submit">Click For Short</button>
//-     </section>

//-     <section class="view-section" id="shortener-url"></section>
//-     <script src="./main.js"></script>
//-   </body>
//- </html>
